<section class="flex flex-col justify-center items-center mb-20 lg:h-screen">
    <div class="w-4/5 text-center lg:w-4/6 mb-14 lg:mb-20">
      <div class="mb-5 loader"></div>
      <h1 class="text-3xl font-bold mb-4">Welcome</h1>
      
      <p class="mb-2">
        Hi! I'm Leo — a passionate and detail-driven full-stack developer specializing in
        <strong>.NET (C#)</strong>, <strong>SQL Server</strong>, and <strong>Angular</strong>. With over 5 years of experience in web development,
        I bring a strong foundation in building scalable APIs, managing complex data with stored procedures,
        and crafting intuitive, responsive front-ends using <strong>Tailwind CSS</strong>.
      </p>
      
      <p>
        I stay up to date with the latest tools and frameworks to deliver fast, modern, and user-focused digital experiences.
        Whether it's backend logic or pixel-perfect UI, I aim to bridge both worlds with clean, maintainable code.
      </p>
  
      <p class="mt-10 text-right italic">Always up for a challenge. Always learning.</p>
      <div class="float-right mt-10 loader2"></div>
    </div>
  
    <p class="lg:mt-15 mt-10 text-lg animate-bounce" (click)="scrollToSectionCareer()">
      <i class="text-center fa-solid fa-arrow-down"></i>
    </p>
  </section>
  