<div class="flex flex-col justify-center items-center h-screen">
    <div class="w-4/6">
      <div class="mb-5 loader"></div>
      <h1 class="text-4xl font-bold mb-4">Welcome</h1>
      <p class="mb-2">
        Hi! I'm Leo, a passionate full-stack web developer with over 5 years of experience in building responsive, user-focused applications. I began my journey in front-end development and progressively expanded my skill set to the full stack.
      </p>
      <p class="mb-2">
        I specialize in technologies like <strong>.NET</strong>, <strong>SQL Server</strong>, <strong>Angular</strong>, and <strong>Tailwind CSS</strong>, and I love crafting efficient, scalable solutions that deliver great user experiences.
      </p>
      <p>
        I'm enthusiastic about clean code, beautiful and pixel-perfect interfaces, and creating intuitive user experiences with modern tools and best practices.
      </p>
      <div class="float-right mt-10 loader2"></div>
    </div>
  </div>
  