<section class="flex justify-center max-lg:items-center max-lg:flex-col pt-5 overflow-x-hidden" id="sectionCareer">
    <div class="w-4/5 lg:w-4/6 flex">
        <div class="hidden lg:block w-1/3">
            <h3 class="text-xl">Background</h3>
        </div>
        <div #careerSection  [@slideFromRight]="shouldSlideDown ? 'void' : 'inactive'"  class="hidden lg:block w-2/3">
            <article class="pb-5 border-b-indigo-500 flex cursor-pointer" (click)="redirectToDominionSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Dominion Capital Strategies</strong></p>
                    <p>During my tenure as a full-stack .NET developer, I had the privilege of contributing to various facets of the company's operations. From handling new processes to maintaining existing ones, my role involved launching both modest and significant features. I played a part in sustaining the day-to-day functionalities of the company, impacting its operations in ways both big and small.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Typscript</mat-chip>
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>SCSS</mat-chip>
                        <mat-chip>Tailwindcss</mat-chip>
                        <mat-chip>C#</mat-chip>
                        <mat-chip>ASP.Net</mat-chip>
                        <mat-chip>SQL Server</mat-chip>
                        <mat-chip>Azure devops</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            <article class="pb-5 border-b-indigo-500 flex cursor-pointer" (click)="redirectToPortoServiciosSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Porto Servicios</strong></p>
                    <p>experience Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloremque aliquid eius laudantium. Recusandae doloribus animi quo iure perferendis doloremque amet? Accusamus rerum molestiae nam explicabo beatae commodi, reprehenderit distinctio.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip>Javascript</mat-chip>
                        <mat-chip>C#</mat-chip>
                        <mat-chip>ASP.Net</mat-chip>
                        <mat-chip>SQL Server</mat-chip>
                        <mat-chip>Azure devops</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            <article class="pb-5 border-b-indigo-500 flex cursor-pointer" (click)="redirectToMiddlSoftSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Middlesoft</strong></p>
                    <p>experience Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloremque aliquid eius laudantium. Recusandae doloribus animi quo iure perferendis doloremque amet? Accusamus rerum molestiae nam explicabo beatae commodi, reprehenderit distinctio.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Typscript</mat-chip>
                        <mat-chip>React</mat-chip>
                        <mat-chip>Jquery</mat-chip>
                        <mat-chip>HTML/CSS</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip>C#</mat-chip>
                        <mat-chip>.Net Core</mat-chip>
                        <mat-chip>Azure</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            <article class="pb-5 border-b-indigo-500 flex cursor-pointer" (click)="redirectToWundermanSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Wunderman</strong></p>
                    <p>experience Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloremque aliquid eius laudantium. Recusandae doloribus animi quo iure perferendis doloremque amet? Accusamus rerum molestiae nam explicabo beatae commodi, reprehenderit distinctio.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Vue</mat-chip>
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>HTML/CSS</mat-chip>
                        <mat-chip>SCSS</mat-chip>
                        <mat-chip>Jquery</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip>Jira</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            
        </div>
    </div>  
    <div class="w-4/5 lg:w-4/6 lg:hidden">
        <h3 class="text-xl mb-5">Background</h3>
        <div #careerSection  [@slideFromRight]="shouldSlideDown ? 'void' : 'inactive'" >
            <article class="pb-5 border-b-indigo-500 mb-4 cursor-pointer" (click)="redirectToDominionSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Dominion Capital Strategies</strong></p>
                    <p>During my tenure as a full-stack .NET developer, I had the privilege of contributing to various facets of the company's operations. From handling new processes to maintaining existing ones, my role involved launching both modest and significant features. I played a part in sustaining the day-to-day functionalities of the company, impacting its operations in ways both big and small.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Typscript</mat-chip>
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>SCSS</mat-chip>
                        <mat-chip>Tailwindcss</mat-chip>
                        <mat-chip>C#</mat-chip>
                        <mat-chip>ASP.Net</mat-chip>
                        <mat-chip>SQL Server</mat-chip>
                        <mat-chip>Azure devops</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            <article class="pb-5 border-b-indigo-500 mb-4 cursor-pointer" (click)="redirectToPortoServiciosSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Porto Servicios</strong></p>
                    <p>experience Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloremque aliquid eius laudantium. Recusandae doloribus animi quo iure perferendis doloremque amet? Accusamus rerum molestiae nam explicabo beatae commodi, reprehenderit distinctio.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip>Javascript</mat-chip>
                        <mat-chip>C#</mat-chip>
                        <mat-chip>ASP.Net</mat-chip>
                        <mat-chip>SQL Server</mat-chip>
                        <mat-chip>Azure devops</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            <article class="pb-5 border-b-indigo-500 mb-4 cursor-pointer" (click)="redirectToMiddlSoftSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Middlesoft</strong></p>
                    <p>experience Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloremque aliquid eius laudantium. Recusandae doloribus animi quo iure perferendis doloremque amet? Accusamus rerum molestiae nam explicabo beatae commodi, reprehenderit distinctio.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Typscript</mat-chip>
                        <mat-chip>React</mat-chip>
                        <mat-chip>Jquery</mat-chip>
                        <mat-chip>HTML/CSS</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip>C#</mat-chip>
                        <mat-chip>.Net Core</mat-chip>
                        <mat-chip>Azure</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            <article class="pb-5 border-b-indigo-500 mb-4 cursor-pointer" (click)="redirectToWundermanSite()">
                <p class="text-gray-500 pr-5 text-xs">01/04/2021 — 31/03/2023</p>
                <div>
                    <p><strong>Wunderman</strong></p>
                    <p>experience Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam doloremque aliquid eius laudantium. Recusandae doloribus animi quo iure perferendis doloremque amet? Accusamus rerum molestiae nam explicabo beatae commodi, reprehenderit distinctio.</p>
                    <small class="text-gray-400">Tech Stack</small>
                    <mat-chip-listbox class="text-sm">
                        <mat-chip>Vue</mat-chip>
                        <mat-chip>Angular</mat-chip>
                        <mat-chip>HTML/CSS</mat-chip>
                        <mat-chip>SCSS</mat-chip>
                        <mat-chip>Jquery</mat-chip>
                        <mat-chip>Bootstrap</mat-chip>
                        <mat-chip>Jira</mat-chip>
                    </mat-chip-listbox>
                </div>
            </article>
            
        </div>
    </div>
</section>

