.backgroundLeo{
    background-image: url("../../../assets/pic.png");   
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: 90%;
    background-position-x: 90%;
    color: rgb(0, 82, 120);
}