<div class="flex flex-col justify-center items-center md:h-screen">
    <div class=" md:w-4/6  text-white px-6 py-12">
        <h2 class="text-2xl text-yellow-300 mb-10 hover:animate-pulse">Background</h2>
        
        <div class="cursor-pointer p-6 rounded-lg  hover:bg-orange-950 hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

            project 2025
            
        </div>
        <div class="space-y-12">
      
          <!-- Experience Block -->
          <div class="cursor-pointer p-6 rounded-lg hover:bg-orange-950 hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">
            <a href="https://dominion-cs.com/en" target="_blank">

                <div class="text-sm text-gray-400">01/04/2021 — 31/03/2023 (2 yr)</div>
                <h3 class="text-xl font-bold text-white mt-1">Dominion Capital Strategies</h3>
                <p class="mt-2 text-gray-300">
                    During my tenure as a full-stack .NET developer, I had the privilege of contributing to various facets of the company’s operations. From handling new processes to maintaining existing ones, my role involved launching both modest and significant features. I played a part in sustaining the day-to-day functionalities of the company, impacting its operations in ways both big and small.
                </p>
                <div class="mt-3 flex flex-wrap gap-2">
                    <span class="badge">Typescript</span>
                    <span class="badge">Angular</span>
                    <span class="badge">SCSS</span>
                    <span class="badge">Tailwindcss</span>
                    <span class="badge">C#</span>
                    <span class="badge">ASP.Net</span>
                    <span class="badge">SQL Server</span>
                    <span class="badge">Azure DevOps</span>
                </div>
            </a>
          </div>
      
          <!-- Repeat this block for each experience entry -->
          <div class="cursor-pointer p-6 rounded-lg  hover:bg-orange-950 hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">
            <a href="https://www.portoservicios.com.uy/" target="_blank">
            <div class="text-sm text-gray-400">22/06/2020 — 26/03/2021</div>
            <h3 class="text-xl font-bold text-white mt-1">Porto Servicios</h3>
            <p class="mt-2 text-gray-300">
              As a full stack .NET developer, I spearheaded the seamless transition of the company’s system towards a modern framework. My focus involved the integration with a RESTful API, harnessing data from an updated database. This initiative aimed to optimize performance, enabling an enhanced user experience within the application, while also involving the latest version of Angular.
            </p>
            <div class="mt-3 flex flex-wrap gap-2">
              <span class="badge">Angular</span>
              <span class="badge">Bootstrap</span>
              <span class="badge">Javascript</span>
              <span class="badge">C#</span>
              <span class="badge">ASP.Net</span>
              <span class="badge">SQL Server</span>
              <span class="badge">Azure DevOps</span>
            </div>
        </a>
          </div>
      
          <!-- Middlesoft -->
          <div class="cursor-pointer p-6 rounded-lg  hover:bg-orange-950 hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">
            
            <a href="https://www.middlesoft.com.uy/" target="_blank">

            <div class="text-sm text-gray-400">21/10/2019 — 12/06/2020</div>
            <h3 class="text-xl font-bold text-white mt-1">Middlesoft</h3>
            <p class="mt-2 text-gray-300">
              Within a software factory environment, I thrived as a .NET developer, specializing in front-end tasks. This dynamic role demanded agility, tackling various assignments within short timeframes, and embracing a spectrum of diverse technologies to meet project requirements effectively.
            </p>
            <div class="mt-3 flex flex-wrap gap-2">
              <span class="badge">Typescript</span>
              <span class="badge">React</span>
              <span class="badge">Jquery</span>
              <span class="badge">HTML/CSS</span>
              <span class="badge">Bootstrap</span>
              <span class="badge">C#</span>
              <span class="badge">.Net Core</span>
              <span class="badge">Azure</span>
            </div>
            </a>
          </div>
      
          <!-- Wunderman -->
        <div class="cursor-pointer p-6 rounded-lg  hover:bg-orange-950 hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">
           
            <div class="text-sm text-gray-400">01/04/2019 — 21/10/2019</div>
            <h3 class="text-xl font-bold text-white mt-1">Wunderman</h3>
            <p class="mt-2 text-gray-300">
                During my tenure as a Front-end Developer at Wunderman, I spearheaded the development of high-performance web applications, ranging from individual projects to intricate cross-platform solutions. I employed agile methodologies to meet tight deadlines, ensuring visual perfection in every design aspect through meticulous Pixel Perfect techniques.
            </p>
            <div class="mt-3 flex flex-wrap gap-2">
                <span class="badge">Vue</span>
                <span class="badge">Angular</span>
                <span class="badge">HTML/CSS</span>
                <span class="badge">SCSS</span>
                <span class="badge">Jquery</span>
                <span class="badge">Bootstrap</span>
                <span class="badge">Jira</span>
            </div>
        </div>

        </div>
    </div>
      
</div>