.ocultaMenuFondo{
  transform: translateY(-100px);
}
.apareceMenu {
  transform: translateX(300px) translateY(-300px) rotate(145deg);
}
.apareceX1{
  transform: rotate(45deg) translateX(12px) translateY(6px);
  font-size: 18px;
}
.apareceX2{
  transform: rotate(-45deg) translateX(-5px) translateY(-15px);
}

nav{
  font-family: 'Montserrat-Regular';
}

button{
  p {
    font-family: 'Courier New', Courier, monospace;
  }
}