<nav class="lg:hidden bg-neutral-800 text-white p-4 transition-all duration-700 ease-in-out" [class.ocultaMenuFondo]="!isOpen" [class]="isOpen ? 'pt-10' : ''">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
    <h2></h2>
      <div class="overflow-hidden pb-5">
        <ul class="lg:hidden transition-transform duration-700 ease-in-out font-bold" [class.apareceMenu]="!isOpen" >
          <li class="hover:text-gray-300">About Me</li>
          <li (click)="scrollToSectionCareer()" class="hover:text-gray-300">Career</li>
          <li class="hover:text-gray-300">Skills</li>
          <li class="hover:text-gray-300">Contact</li>
        </ul>
        <button class="float-right lg:hidden text-white hover:text-yellow-400 focus:outline-none" (click)="toggleMenu()">
          <p class="transition-all duration-300 leading-none h-1.5 font-bold text-lg" [class.apareceX1]="isOpen">__</p>
          <p class="transition-all duration-300 leading-none h-1.5 font-bold text-lg" [class.opacity-0]="isOpen">__</p>
          <p class="transition-all duration-300 leading-none h-1.5 font-bold text-lg" [class.apareceX2]="isOpen">__</p>
        </button>
      </div>
    </div>
  </div>
</nav>